body {
    background-color: white;
}

#mainscreen {
    display: inline-block;
    background-color: lightgoldenrodyellow;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;

    border-bottom: solid;
    border-left: solid;
    border-right: solid;

    margin-top: 0px;
    padding-top: 10px;
}

#mainscreen h1 {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Arial;
}



