#mainscreen h1 {
    display: inline;
    font-family: Arial;
    font-size: 30px;
    margin-left: 20%;
}

#mainscreen #form {
    display: inline-block;
    position: absolute;
    right: 11%;
    margin-top: 0px;
}
