#mainsearch {
    position: relative;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border: solid black;
    background: lightcyan;
}

#mainsearchbutton {
    display: inline;
    margin-left: 2%;
}

#mainsearch .searchlabel {
    display: inline;
    margin-left: 2%
}

.searchinput {
    display: inline;
    width: 20%;
    border: 1px black solid;
}


#mainparagraph {
    display: inline-block;
    width:50%;
    margin-left: 4%;

}

#bookcaselist {
    position: relative;
    overflow-y: hidden;
    left: 0%;
    width: 60%;
    height: 50%;
}



#bookcaselist li {

    margin-bottom: 10px;
    list-style-type: none;
}

.contenttable td {
    vertical-align: top;
    font-family: arial;
    font-size: 20px;
    margin-inside: 10%;
}

.contenttable h6 {
    margin-bottom: 0px;
    font-style: italic;
}

.contenttable h5 {
    text-decoration: underline;
}


#buttonlist{
    display: block;
    float: left;
    margin-left: 5%;
    margin-top: 150px;
}

#buttonlist li {
    list-style-type: none;
}

#buttonlist button {
    width: 50px;
}