#mainsearch {
    position: relative;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border: solid black;
    background: lightcyan;
    font-family: Arial;
}

#mainsearchbutton {
    display: inline;
    margin-left: 2%;
}

#mainsearch .searchlabel {
    display: inline;
    margin-left: 2%
}

.searchinput {
    display: inline;
    width: 20%;
    border: 1px black solid;
}


#mainparagraph {
    display: inline-block;
    width:80%;
    margin-left: 11%;
    font-size: 25px;
    font-family: Arial;

}
.scrolllist {
    width: 65%;
    height: 50%;
}

.searchtable {
    text-decoration: underline;
    padding-right: 10px;
}



